body {
    min-width: 350px;
    background-color: #C0C0C0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    align-content: space-between;
}

header,
details {
    display: flex;
    justify-content: space-evenly;
    background-color: #009999;
    padding: 5px 0 0 0;
    border: 1px solid black;
}

footer {
    background-color: #009999;
    margin: 20px 0 0 0;
    padding: 15px 0;
    text-align: center;
    border: 1px solid black;
}

#photo {
    border-radius: 30%;
}

#home {
    display: flex;
    justify-content: space-between;
}

#project-photo {
    width: 350px;
    border: solid black 2px;
    border-radius: 8px;
}

#portfolio {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.projects,
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    color: black;
    font-size: 36px;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 60px 10px 20px 20px;
    margin: 0;
}

h2 {
    text-align: center;
}

#about-me {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
}

main,
details {
    padding-left: 20px;
    padding: 20px;
}

.contact-me {
    text-align: left;
}

img.placeholder {
    width: 150px;
    border: solid black 2px;
    border-radius: 8px;
}

details {
    width: 97.5%;
}


/* nav box for contact me */

nav {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #009999;
    border: 2px solid #000;
    width: fit-content;
    float: right;
    padding: 0 10px;
    color: black;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}


/*picture of me*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Mobile */

@media only screen and (max-width: 480px) {
    #portfolio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item {
        flex: 1;
        margin: 10px;
    }
}


/* Desktop */

@media all and (min-width: 600px) {
    .group {
        flex-direction: row;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    header h1 {
        margin: 14px 0;
        padding-top: 0;
    }
    header nav {
        margin-top: 8px;
    }
    header nav ul li a:hover {
        color: #bdbdbd;
    }
}


/* Contact Form */

form {
    padding-right: 20px;
}

form label {
    display: block;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 150px;
}